body{
  background-color: #D5EBCA;
  font-family: 'Varela Round', sans-serif;
  font-size: 25px;
  font-weight: bolder;
}

h2{
  font-family: 'Open Sans', sans-serif;
  text-decoration: underline;
  margin-left: 40px;
}

.navcontainer{
max-width: 100%;
height: auto;
display: flex;
justify-content: space-evenly;
border: 1px solid black;
border-radius: 10px;
background-color: #F5DF9D;
line-height: 90px;
}

a{
  text-decoration: none;
  font-size: 18px;
  font-weight: bolder;
}

a:hover{
  font-size: 20px;
  color: black;
}

.picturecontainer{
  display: flex;
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  /*border: 1px solid black;*/
  justify-content: center;
}

img{
  width: 55%;
}

.contentcontainer{
  display: flex;
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  /*border: 1px solid black;*/
  flex-direction: column;
  padding: 10px;
}

.firstplace{
  border: 5px solid #DB6348;
  border-radius: 20px;
  margin: 40px;
  padding: 20px 20px 20px 20px;
  overflow: hidden;
}

.image1{
  float: left;
  width: 45%;
  padding-right: 30px;
  margin: 20px 20px 20px 20px;
}

.firstplace img{
  transition: 0.5s linear;
}

.firstplace img:hover{
  transform: scale(1.4);
}

.secondplace{
  border: 5px solid #DB6348;
  border-radius: 20px;
  margin: 40px;
  padding: 20px 20px 20px 20px;
  overflow: hidden;
}

.image2{
  float: right;
  width: 45%;
  margin: 20px 20px 20px 20px;
}

.secondplace img{
  transition: 0.5s linear;
}

.secondplace img:hover{
  transform: scale(1.4);
}

.thirdplace{
  border: 5px solid #DB6348;
  border-radius: 20px;
  margin: 40px;
  padding: 20px 20px 20px 20px;
  overflow: hidden;
}

.image3{
  float: left;
  width: 45%;
  padding-right: 30px;
  margin: 20px 20px 20px 20px;
}

.thirdplace img{
  transition: 0.5s linear;
}

.thirdplace img:hover{
  transform: scale(1.4);
}

.fourthplace{
  border: 5px solid #DB6348;
  border-radius: 20px;
  margin: 40px;
  padding: 20px 20px 20px 20px;
  overflow: hidden;
}

.image4{
  float: right;
  width: 45%;
  margin: 20px 20px 20px 20px;
}

.fourthplace img{
  transition: 0.5s linear;
}

.fourthplace img:hover{
  transform: scale(1.4);
}

footer{
  display: flex;
  max-width: 100%;
  height: auto;
  /*border: 1px solid black;*/
  border-radius: 10px;
  justify-content: space-evenly;
  font-size: 18px;
}
