body{
  background-color: #D5EBCA;
  font-family: 'Varela Round', sans-serif;
}

.navcontainer{
max-width: 100%;
height: auto;
display: flex;
justify-content: space-evenly;
border: 1px solid black;
border-radius: 10px;
background-color: #F5DF9D;
line-height: 90px;
}

a{
  text-decoration: none;
  font-size: 18px;
  font-weight: bolder;
}

a:hover{
  font-size: 20px;
  color: black;
}

.imagecontainer{
  display: flex;
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  /*border: 3px solid black;
  border-radius: 10px;*/
  justify-content: center;
}

img{
  width: 50%;
}

.contentcontainer{
  display: flex;
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  /*border: 1px solid black;
  border-radius: 10px;*/
  justify-content: space-evenly;

}

.aboutus{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: auto;
  border: 3px solid #66A7EB;
  border-radius: 10px;
}

.favorites{
display: flex;
align-items: center;
flex-direction: column;
width: 40%;
height: auto;
border: 3px solid #66A7EB;
border-radius: 10px;
}

.btn_img{
  width:20%;
  height:auto;
}
button{
  background-color: #D5EBCA;
  border: none;
  padding: 10px 20px;
  margin: 5px 5px 5px 5px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  border-radius: 12px;
  transition-duration: 0.4s;
}

button:hover{
  background-color: #E8CBF5;
  border: none;
}

footer{
  display: flex;
  max-width: 100%;
  height: auto;
  /*border: 1px solid black;
  border-radius: 10px;*/
  justify-content: space-evenly;
}

@media (max-width: 600px){
  .contentcontainer{
    flex-direction: column-reverse;
  }
  .aboutus{
    width: 100%;
  }
  .favorites{
    width: 100%;
  }

}
