body{
  background-color: #D5EBCA;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  font-weight: bolder;
}

h2{
  font-family: 'Open Sans', sans-serif;
  text-decoration: underline;
  margin-left: 40px;
}

.navcontainer{
max-width: 100%;
height: auto;
display: flex;
justify-content: space-evenly;
border: 1px solid black;
border-radius: 10px;
background-color: #F5DF9D;
line-height: 90px;
}

a{
  text-decoration: none;
  font-size: 18px;
  font-weight: bolder;
}

a:hover{
  font-size: 20px;
  color: black;
}

.picturecontainer{
  display: flex;
  max-width: 100%;
  height: auto;
  border: 1px solid black;
  justify-content: center;
}

img{
  width: 55%;
}

.contentcontainer{
  display: flex;
  max-width: 100%;
  height: auto;
  border: 1px solid black;
  flex-direction: column;
  padding: 10px;
}

.firstplace{
  border: 1px solid black;
  margin: 40px;
}
.image1{
  float: left;
  width: 45%;
  padding-right: 30px;
}
.secondplace{
  border: 1px solid black;
  margin: 40px;
}
.image2{
  float: right;
  width: 45%;
}
.thirdplace{
  border: 1px solid black;
  margin: 40px;

}
.image3{
  float: left;
  width: 45%;
  padding-right: 30px;
}
.fourthplace{
  border: 1px solid black;
  margin: 40px;

}
.image4{
  float: right;
  width: 45%;
}

footer{
  display: flex;
  max-width: 100%;
  height: auto;
  border: 1px solid black;
  border-radius: 10px;
  justify-content: space-evenly;
}
